.pido-icon{
    width: 100px;
}

.pedido-container{
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.select-pedio-sigle{
    margin-top: 13px;
    margin-left: 5px;   
}

#pagin-item{
    margin-top: 5px;
}