<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/pedido.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>GladBakery</title>
</head>

<body>


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <a class="navbar-brand" href="/default">
                <img id="icon" src="https://image.flaticon.com/icons/svg/1256/1256964.svg" />
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/default">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/pedido">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/cliente">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/pastel">Pastele</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline">
                <span style="padding:5px;"><a class="nav-link" href="/login">Login</a></span>
                <img id="user" src="https://image.flaticon.com/icons/svg/17/17004.svg" />
            </form>
        </nav>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="btn-pedido-masive-notify" type="button" class="btn btn-primary btn-sm"
                data-context="listar">Notifiar Clientes Maxivo</button>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Admin</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filtrar por Estado
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Completado</a>
                            <a class="dropdown-item" href="#">Pendiente</a>
                            <a class="dropdown-item" href="#">Retrasado</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <hr />
        <div class="media pedido-container">
            <img class="mr-3 pido-icon" src="https://www.flaticon.es/premium-icon/icons/svg/1493/1493283.svg"
                alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Bizcuit Name</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-info btn-sm">Notificar Cliente</button>
                    <button type="button" class="btn btn-outline-success btn-sm">Ver Detalles</button>
                    <button type="button" class="btn btn-outline-warning btn-sm">Cambiar Estado</button>
                    <input type="checkbox" class="select-pedio-sigle" />
                </div>
                <dir>
                    <span>Comentario:</span> <span>N/A</span>
                </dir>
            </div>
        </div>
        <div class="media pedido-container">
            <img class="mr-3 pido-icon" src="https://www.flaticon.es/premium-icon/icons/svg/1493/1493283.svg"
                alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Bizcuit Name</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-info btn-sm">Notificar Cliente</button>
                    <button type="button" class="btn btn-outline-success btn-sm">Ver Detalles</button>
                    <button type="button" class="btn btn-outline-warning btn-sm">Cambiar Estado</button>
                    <input type="checkbox" class="select-pedio-sigle" />
                </div>
                <dir>
                    <span>Comentario:</span> <span>N/A</span>
                </dir>
            </div>
        </div>

        <nav aria-label="Page navigation" id="pagin-item">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
            </ul>
        </nav>
    </div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/pedido.js"></script>
</body>

</html